
body { 
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #1c1e22; 
  color: #e0e0e0; 
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #343a40;
}

.instructions {
  color: #00b4d8; 
}

.navbar-brand {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5rem;
  color: #00b4d8 !important;
}

.navbar-nav .nav-link {
  color: #ffffff !important;
}

.navbar-nav .nav-link:hover {
  color: #00b4d8 !important;
}

.header {
  background: linear-gradient(135deg, #1a1a1a 0%, #2a2a2a 100%);
  height: 300px;
  position: relative;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-content h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 3.5rem;
  color: #00b4d8;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 2rem;
  color: #cccccc;
}

.container {
  margin-top: 50px;
  background: linear-gradient(135deg, #2a2a2a 0%, #1a1a1a 100%);
  padding: 30px;
  border-radius: 10px; /* Added a slight rounding for aesthetics */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container h2,
.container h3 {
  color: #00b4d8;
  margin-bottom: 1rem;
}

.container p {
  font-size: 1.2rem;
  color: #cccccc;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  margin: 15px 0;
  color: #dddddd;
}

ul li strong {
  color: #00b4d8;
}

form label {
  font-weight: bold;
  color: #e0e0e0;
}

form select,
form button {
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

form select {
  background-color: #2a2a2a;
  color: #ffffff;
}

form button {
  background-color: #00b4d8;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0077b6;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  background-color: #2a2a2a;
  border-radius: 10px;
}

.slide {
  display: none;
  padding: 20px;
  text-align: center;
  color: #e0e0e0;
}

.slide.active {
  display: block;
}

.slideshow .slide {
  flex: 0 0 30%;
  padding: 15px;
  background: #1c1e22;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #343a40;
  color: #cccccc;
  padding: 30px 0;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #00b4d8;
}

footer a:hover {
  color: #ffffff;
}

@media (max-width: 768px) {
  .header-content h1 {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .container h2,
  .container h3 {
    font-size: 1.5rem;
  }

  ul li {
    font-size: 1rem;
  }
}
